
@model Song;

<form asp-area="Admin" asp-controller="Song" asp-action="Edit" method="POST">

    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input class="form-control" asp-for="@Model.Name" value="@Model.Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.RelaseDate"></label>
        <input class="form-control" asp-for="@Model.RelaseDate" type="date" value="@Model.RelaseDate.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="RelaseDate"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.AlbumId"></label>
        <select asp-for="@Model.AlbumId" class="form-control">
            @foreach (var album in this.ViewBag.Albums)
            {
                if (album.IsDeleted)
                {
                    continue;
                }

                bool isSelected = album.Id == Model.AlbumId;
                string isSelectedHtml = isSelected == true ? "selected" : null;

                <option value="@album.Id" selected="@isSelectedHtml">@album.Name</option>
             }
        </select>
        <span asp-validation-for="AlbumId"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}